@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

.headerHero{

    background: #00A8DB;
    
}

.logo img{
    /* width: 7% */

    margin-right: 20px;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 85%;
    margin:auto;
    margin-top: 2rem   
}
nav{
    display: flex;
    gap: 2rem;
    align-items: center;
}

.ul{
    display: flex;
    gap: 2rem;

}
.navBar li a{
font-family: DM Sans;
font-size: 14px;
font-weight: 500;
line-height: 18.23px;
letter-spacing: 0.30000001192092896px;
text-align: center;
color: #FFFFFF;
text-decoration: none;
}
select{
    background: none;
    border: none;
    color: #FFFFFF;
}

nav Button{
    background: linear-gradient(278.21deg, #005490 1.66%, #328BCB 96.78%);
    color: #FFFFFF;
    border: none;
    padding: 0.5rem 1.5rem;
    cursor: pointer;
}

.hero{
    display: flex;
    justify-content: space-between;
    margin-top: 7rem;
}

.TextSide{
    margin-left: 6rem;
}

.TextSide h2{
font-family: DM Sans;
font-size: 64px;
font-weight: 700px;
color: white;
}
.TextSide p{
    font-family: DM Sans;
    font-size: 16px;
    color: white;
    line-height:26px;
    text-align: left;
    width: 60%;

}
.curve img{
width: 20%;
}
.imageSide img{
width: 100%;
}
.demo{
    display: flex;
    gap: 1rem;
    align-items: center;
}
.demo button{
    font-family: DM Sans;
    font-size: 16px;
    font-weight: 500;
    line-height: 20.83px;
    text-align: center;
    color: rgba(o, 168, 219, 1);
    background: white;
    border: none;
    cursor: pointer;
    padding: 1rem 1.5rem;
    border-radius: 4px;
}
.demo button:hover{
    color: white;
    background: linear-gradient(278.21deg, #005490 1.66%, #328BCB 96.78%);
}

.sponsors{
    width: 80%;
    display: flex;
    gap: 5rem;

    margin:auto;
    margin-top: 4rem;
    margin-bottom: 4rem;
    align-items: center;
}
.post{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: auto;
}
.sponsors img{
    width: 100%;

}

.postimage img{
    width:100%;
}
.postimage{
    width: 40%;
}
.posttext{
    width: 40%;
}
.posttext h3{
    font-family: DM Sans;
    font-size: 36px;
    font-weight: 700;
    line-height: 52px;
    letter-spacing: 0.30000001192092896px;
    color: #034D82;
    width: 85%;

}
.posttext p{
    font-family: DM Sans;
font-size: 16px;
font-weight:400;
line-height: 32px;
color: #04AADD;
text-decoration: none;
}
.iphone{
    position: absolute;
}
.arrow{
    position: relative;
    z-index:-2;
}

.schedule{
    display: flex;
    justify-content:space-between;
    align-items: center;
    width: 80%;
    margin: auto;
    margin-top: 10rem;
    
    
}
.schedule p{
    width: 485px;
    height: 64px;
    top: 2154.28px;
    left: 140px;
    gap: 0px;
    opacity: 0px;
    


}
.scheduleText{
    width: 45%;
    
}
.scheduleText h3{
    font-family: DM Sans;
    font-size: 36px;
    font-weight: 700;
    line-height: 52px;
letter-spacing: 0.30000001192092896px;
color: #034D82;

}

.scheduleText p{
    font-family: DM Sans;
    font-size: 16px;
    line-height: 32px;
    font-weight: 400;
    letter-spacing: 0.30000001192092896px;
    color: #90A3B4;
    width: 100;

}

.scheduleText a{
    width: 243px;
    height: 21px;
    top: 2410px;
    left: 140px;
    color: #04AADD;

}


.scheduleImage img {
    width: 100%;
    
}

.scheduleImage{
    width: 40%;

}




.hashtag{
    background-color: #EFFBFF;
    padding: 4rem 0rem;
    margin-top: 5rem;
    
}
.tophashtag{
    text-align: center;
}
.tophashtag h2{
    font-family: DM Sans;
    font-size: 36px;
    font-weight: 700;
    line-height: 52px;
    color: #034D82;
    letter-spacing:0.30000001192092896px;
    }
.tophashtag p{
font-family: DM Sans;
font-size: 16px;
font-weight: 400;
line-height: 32px;
color:  #8EA9C1;
padding: 1rem 0;
width: 45% ;
margin: auto;
}
.cardwrap{
    display: flex;
    gap: 2rem;
    align-items: center;
    width: 80%;
    margin: auto;
    /* margin-top: 2rem; */
    height: 60vh;
}
.card{
    background: white;
    padding: 1rem 1rem 3rem 1rem;
    height: 300px;
    border-radius: 8px;
    width: 100;
    overflow: hidden;
}
.card:hover{
background-color: #005490;
color: white;
transform: scale(1.1);
transition: 0.5s;
border-radius: 8px;
}
.card h5{
    font-family: DM Sans;
    font-size: 20px;
    font-weight: 600;
    line-height: 34px;
    /* color: rgba(3, 77, 130, 1); */
    padding: 1rem 0;
}

.card p{
    font-family: DM Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    /* color: rgba(144, 163, 180, 1) */
    padding-right: 1rem;
}

.growth{
    display: flex;
    justify-content: space-between;
    width: 85%;
    margin: auto;
    padding: 6rem 0;
    
}

.growthLeft h3 {
    font-family: DM Sans;
    font-size: 36px;
    font-weight: 700;
    line-height: 52px;
    color: #034D82;
    width: 80%;

}

.growthLeft p {
    font-family: DM Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    color: #90A3B4;

    
}


.growthText p{
    font-family: DM Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 32px;
    color: #90A3B4;
    font-style: italic;
    margin-left: 3rem;
    margin-bottom: 1.5rem;
    width: 70%;
}

.hart{
    display: flex;
    gap: 1rem;
    align-items: center;
}

.hartName h5{
    font-family: DM Sans;
    font-size: 20px;
    font-weight: 600;
    line-height: 34px;
    color: #034D82;
}

.hartName p{
    font-family: DM Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    color: #90A3B4;
}

.brand{
    background-image: url(/images/background.png);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    width: 85%;
    margin: auto;
    justify-content: space-between;
    margin-bottom: 5rem;
    padding: 3rem;
    align-items: center;
    border-radius: 6px;
    gap: 1rem;

    
}
.brandLeft h3{
    font-family: DM Sans;
    font-size: 32px;
    font-weight: 700;
    color: white;
    /* margin-top: 4rem; */
    /* padding: 2rem; */
    width: 50%;   
}
.brandLeft p{ 
    font-family: DM Sans;
    font-size: 14px;
    font-weight: 500;
    line-height: 32px;
    color: white;
    padding: 1rem ;
}
.customers{
    display: flex;
    /* gap: 1rem; */
    align-items: center;
    margin: auto;
}
.customers p{
    font-family: DM Sans;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    color: #FFFFFF;
    padding:1rem;
}


    

.trial button{
    font-family: DM Sans;
    padding: 1rem 1rem;
    font-size: 14px;
    color: #00A8DB;
    background-color: #FFFFFF;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    line-height: 20px;
    margin-top: 2rem;
    font-weight: 500;
    margin: auto;
    text-align: center;
    width: 100%;
}

.trial button:hover{
    background: blue;
    color: white
}

footer{
    background: #081315;
    width:100%;
    padding:3rem 0;
    color: #FFFFFF

}

.footWrap{

    display: flex;
    width: 85%;
    margin: auto;

}

.footRight{
    display: flex;
    gap:4rem;
    width:68%;

}
.footLeft{
    width:30%;

}
li{
    list-style-type: none;
    font-family: DM Sans;
font-size: 16px;
font-weight: 400;
line-height: 20.83px;
color:#D3D6D8;
margin-bottom: 1rem;

}

.footRight h3{
    font-family: DM Sans;
font-size: 18px;
font-weight: 700;
line-height: 23.44px;
color:#FFFFFF;
margin-bottom: 1.5rem;

}

.footLeft p{
    font-family: DM Sans;
font-size: 16px;
font-weight: 400;
line-height: 28px;
color: #D3D6D8;
padding: 1rem 0;
width:68%


}
.copyright{
    text-align: center;
    margin-top: 4rem;
}
.copyright p{
    font-family: DM Sans;
font-size: 16px;
font-weight: 700;
line-height: 20.83px;
color: #FFFFFF;
margin-top: 1rem;

}


    